
/*调整body的宽度，留出空间给固定的导航栏*/
body {
	/*
	  padding-top: 80px;
	  padding-bottom: 80px;
	 */
	}
/*
 *	控制台自定义CSS
 */
/*
 * Base structure
 */

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
}


/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 0px;
    padding-top:20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #616161;
    border-right: 0px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}


/*
 * Main content
 */
.main {
  padding: 20px;
}
@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}
.main .page-header {
  margin-top: 0;
}

/*左侧导航栏的CSS配置*/
#main-nav {
    margin-left: 0px;
}
#main-nav.nav-tabs {
    border-bottom: 0px solid #ddd; 
}

/*所有导航*/
#main-nav.nav-tabs.nav-stacked a {
	margin:0px;
	border:0px;
    padding: 10px 20px;
    color: #f1f1f1;
    background: #616161;
    border-radius:0px;
    
    transition: border-right 0.2s;
	-moz-transition: border-right 0.2s;	/* Firefox 4 */
	-webkit-transition: border-right 0.2s;	/* Safari 和 Chrome */
	-o-transition: border-right 0.2s;
}

/*一级导航栏样式*/
#main-nav.nav-tabs.nav-stacked > li > a  {
	 font-size: 14px;
    font-weight: 600;	/*字体加粗*/	
}


/*定义二级菜单样式*/
#main-nav .secondmenu li > a{
	margin-right：0px;
	padding: 10px 25px;
    font-size: 12px;
    text-align: left;
}

/*所有导航hover的样式*/
#main-nav.nav-tabs.nav-stacked li > a:hover{
	color: #37f7f2;
}

/*所有导航被active的样式*/
#main-nav.nav-tabs.nav-stacked li.active > a,#main-nav.nav-tabs.nav-stacked li.active > a:hover {
	color: #37f7f2;
	border-right: 5px solid #37f7f2;
}

#main-nav.nav-tabs.nav-stacked li.active_nav > a.bar_close {
	color: #37f7f2;
	border-right: 5px solid #37f7f2;
}

/*父节点中的li标签被激活时，相应的样式*/
#main-nav.nav-tabs.nav-stacked li.active_nav > a > span{
	color: #37f7f2;
}

/*覆盖bootstrap默认的样式*/
.nav>li>a:focus {
	background: #616161;
}

/*********************子菜单右移，icon旋转特效*****************************/
/*定义子级菜单相对右移*/
#main-nav ul{
	padding-left: 30px
}
/*设置子树的open状态*/
#main-nav li > a.bar_open > span {
	/*引入动态旋转效果*/
	-webkit-transition: -webkit-transform 0.2s ease-out; 
    -moz-transition: -moz-transform 0.2s ease-out;
    transform: rotate(90deg);
}
#main-nav li > a.bar_close > span {
	-webkit-transition: -webkit-transform 0.2s ease-out; 
    -moz-transition: -moz-transform 0.2s ease-out;
    transform: rotate(0deg);
}
