<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://xbean.apache.org/schemas/spring/1.0"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:qpm="http://model.usermanage.qpm.cn.com/loginuser"  
    xsi:schemaLocation="http://xbean.apache.org/schemas/spring/1.0 classpath:/org/apache/xbean/spring/spring-beans.xsd">  
    
    <qpm:LoginUser id="testuser123" userid="123" name="wenkangqiang" 
    	email="945766863@qq.com" password="55555" authority="10"></qpm:LoginUser>
    
</beans>  
